*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}
h2{
  text-align: center;
  font-size: 26px;
}
input{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:aquamarine;
    width: 300px;
    height: 30px;
    font-size: 16px;
}
button{
    padding: 5px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: chartreuse;
    font-size: 16px;
    cursor: pointer;
}
input:focus{
    border:2px solid red;
    border-radius: 5px;
}
.changePlaceholder{
    width: 100%;
    background-color:yellow;
}
placeholder{
    color:white;
}